{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - index.html {% endblock %}

{% block page_content %}
<div class="list-group">
  <a href="#" class="list-group-item active">
    Title List
  </a>

 {% for lt in title %}
<a href= ../content/{{ lt.id|e }} class="list-group-item">
    <span class="badge">{{ lt.id|e }}</span>
    <h4 class="list-group-item-heading">{{ lt.title|e }}</h4>
     <p class="list-group-item-text">
     {{ lt.modity_time|e }}
    </p>
</a>
{% endfor %}

</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.list_title') }}
</div>
{% endif %}

{% endblock %}
